{% extends "layout.html"%} {% block body %}

<h3>Hakkımda</h3>
<hr> 2000 yılında Beyoğlu'nda dünyaya geldim. Küçüklüğümden beridir bilgisayarlara inanılmaz derecede bir merakım olduğundan, kendimi teknoloji alanında geliştirmeye karar verdim. Liseyi bitirdikten sonra Beykoz Üniversitesi Bilgisayar Mühendisliği bölümünü
kazandım ve hala okumaktayım. Kendi kişisel yazılım projelerimi geliştirerek veya çeşitli projelerin içerisinde bulunarak, bu alanda ilerlemeye çalışıyorum. Aynı zamanda Robotistan bünyesinde de çalışmalarımı sürdürmekteyim. Çeşitli projelerin ve blog
içeriklerinin geliştirilmesinden sorumluyum. Kişisel özelliklerimden bahsetmek gerekirse; çalışma disiplini benim için oldukça önemlidir. Bütün işlerimi zamanlı ve planlı olacak şekilde düzenler, program olmadan çalışmaya asla başlamam. Aldığım mühendislik
eğitimi ile, çalışmalarım içerisinde de aynı düzeni göstermeye dikkat ederim. En önemlisi de, bilginin paylaştıkça çoğaldığına inanırım. Bu nedenle yaptığım her çalışmayı, Github gibi platformlar üzerinden paylaşıma açarım...
<hr>{% endblock body %}